.card-local{
    background: rgb(114,9,121);
    background: linear-gradient(120deg, rgba(124,58,237,1) 60%, rgba(2,0,36,0) 100%); 
}

.card-local:hover{
    background: rgb(36, 4, 39);
    background: linear-gradient(120deg, rgb(45, 3, 112) 60%, rgba(124, 58, 237, 0)100%); 
}

.txt{
    background: rgb(114,9,121);
    background: linear-gradient(120deg, rgba(124,58,237,1) 30%, rgba(2,0,36,0) 100%); 
}

.localFotos::-webkit-scrollbar {
    display: none;
}